{% extends "base.html" %}

{% block title %}EcoBudget - Transactions{% endblock %}

{% block content %}
<h2>All Transactions</h2>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Item</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Eco Label</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.date|date:"Y-m-d" }}</td>
            <td>{{ transaction.item_name }}</td>
            <td>${{ transaction.amount }}</td>
            <td>{{ transaction.category.name }}</td>
            <td>
        {% if transaction.category.eco_friendly %}
          <span class="eco-label eco">✅ Eco</span>
        {% else %}
          <span class="eco-label non-eco">❌ Non-Eco</span>
        {% endif %}
      </td>
       <td>
              <a href="{% url 'delete_transaction' transaction.id %}" class="delete-link" title="Delete Transaction">🗑️</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No transactions yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<section class="actions">
        <a href="{% url 'add_purchase' %}" class="btn add-btn">➕ Add Purchase</a>
        </section>
    {% endblock %}